.rowStyle {
    margin-top: 90px;
}
.textStyle {
    font-weight: bold;
}

/* Second section */

.rowTwooStyle {
    margin-top: 20px;
    background-color: #a0c292;
    text-align: left;
}
.padding {
    padding: 40px;
}
.h1 {
    font-weight: bolder;
}
.paragraph {
    font-size: large;
    font-weight: 600;
}
.btnRewards {
    border: 1px solid #687e5f;
    background-color: #687e5f;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: rgb(50, 49, 49);
}
.btnRewards:hover {
    border: 1px solid black !important;
    background-color: #687e5f !important;
    color: black !important;
}

/* Thrid Section */ 

.thirdSectionCon {
    border: 1px solid #a0c292;
    margin-top: 20px;
}

.FirstHeader {
    font-size: xx-large;
    font-weight: bolder;
}
.SecondHeaders {
    font-size: larger;
    font-weight: bold;
}
.thirdSectionCol {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Fourth Section */ 

.fourthSectionCon {
    border: 1px solid #a0c292;
    margin-top: 20px;
}

/* Fifth Section */ 


.fifthSectionCon {
    background-color: #a0c292;
}


